.footer {
    background-color: var(--color-secondary-bg);
    position: static;
    margin-top: auto;
    padding: var(--spacing-32);
    box-shadow: var(--box-shadow);
    color: var(--color-text);
    z-index: 1000;
}

.footer-text-title {
    font-size: 1.15rem;
    color: var(--color-text);
}

.footer-text {
    font-size: 1rem;
    color: var(--color-text-muted);
}

@media (max-width: 1024px) {
    .footer {
        margin-top: auto;
        padding: var(--spacing-16);
    }

    .footer-text-title {
        font-size: 1rem;
    }

    .footer-text {
        font-size: 0.875rem;
    }
}