.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;     
  justify-content: center;    
  z-index: 1000;            
}

.popup-content-wrapper {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  max-height: calc(100vh - 2 * var(--spacing-32));
  display: flex;
  flex-direction: column;
}

.popup-header {
  display: flex;
  justify-content: flex-end;
  padding: var(--spacing-2), var(--spacing-2);
}

.popup-close-button {
  margin: 0;
  background: none;
  border: none;
  color: var(--color-text);
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
}

.popup-content {
  margin: auto;
  position: relative;
  background-color: var(--color-bg);
  padding: var(--spacing-20);
  border-radius: var(--radius-medium);
  box-shadow: var(--box-shadow);
  overflow-y: auto;
  max-height: calc(100vh - 2 * var(--spacing-32));
}